<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="/js/main.js"></script>
<body>
  <div ng-app="myApp1" ng-controller="myCtrl1">
    <input type = "checkbox" ng-model = "showHide2">Hide Button
    <button ng-hide = "showHide2">Click Me!</button>
  </div>

<div ng-app="myApp" ng-controller="myCtrl">
  <p>Task: <input type="text" ng-model="task" ng-keypress="addTask($event)">
   <!-- <button ng-click="addTask()">Add</button>-->
   
  <!-- <ol>
   <li ng-repeat="task in tasks track by $index">
     {{ task }}
   </li>
 </ol> -->
   <button ng-click="getAllTask()">Get All Task</button>
   <ol>
      <li ng-repeat="item in items track by $index">
        <input type="text" ng-model="item" readonly><button ng-click="removeTask(item)">X</button>
      </li>
   </ol>
   <button ng-click="submitTask()">Submit</button></p>
   {{myWelcome}}
</div>

</body>
</html>